.client-section {
  background-color: #f8f8f8;
  padding: 5.3rem 0;
}
.client-container {
  display: flex;
  flex-direction: column;
}
.client-container__title {
  margin: 0 auto;
  text-align: center;
  color: #010103;
}
.client-container__title h4 {
  font-size: 2.2rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.client-container__title h2 {
  font-size: 4.2rem;
  margin-bottom: 5rem;
}
.client-container__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}
.client-container__images img {
  height: 8.5rem;
}
