.contact-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin: 0 auto;
  color: #010103;
  padding: 10rem 2rem;
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (max-width: 950px) {
  .contact-div {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.contact-div__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 41rem;
}
@media (max-width: 950px) {
  .contact-div__text {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
.contact-div__text h2 {
  font-size: 4.2rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}
.contact-div__text p {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  color: #706f7b;
  line-height: 1.6;
  margin-bottom: 2rem;
}
.contact-div__text i {
  font-size: 1.6rem;
}

.contact-div__text h5 {
  font-size: 2.2rem;
  text-decoration: underline;
  /* text-transform: uppercase; */
}

.contact-div__text span {
  font-size: 1.8rem;
  font-weight: bold;
}

.contact-div__text a {
  text-decoration: none;
  color: #010103;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.2s;
  margin-bottom: 0.5rem;
}
.contact-div__text a:hover {
  color: #f4c336;
}
.contact-div__form {
  display: flex;
  flex-direction: column;
}
.contact-div__form form {
  display: flex;
  flex-direction: column;
}
.contact-div__form form label {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.contact-div__form form label b {
  color: #f4c336;
}
.contact-div__form form input {
  background-color: #f2f2f2;
  padding: 19px 30px 19px 30px;
  font-size: 1.6rem;
  border: none;
  outline: none;
  margin-bottom: 2.3rem;
}
.contact-div__form form textarea {
  background-color: #f2f2f2;
  height: 18rem;
  padding: 19px 30px 19px 30px;
  font-size: 1.6rem;
  border: none;
  outline: none;
  margin-bottom: 2.5rem;
}
.contact-div__form form button {
  background-color: #f4c336;
  padding: 1.8rem 3rem;
  border-radius: 0.3rem;
  transition: all 0.3s;
  border: 2px solid #f4c336;
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}
.contact-div__form form button:hover {
  background-color: #e4ae12;
}
