footer {
  background-color: #f8f8f8;
  padding: 10rem 0;
}

.footer-content {
  display: grid;
  color: #010103;
  grid-template-columns: 27fr 21fr 21fr 21fr;
  gap: 6rem;
  justify-content: center;
  text-align: left;
  color: #010103;
}
@media (max-width: 1100px) {
  .footer-content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .footer-content {
    grid-template-columns: 1fr;
  }
}
.footer-content__1 {
  list-style: none;
}
@media (max-width: 650px) {
  .footer-content__1 {
    text-align: center;
  }
}
.footer-content__1 li a {
  text-decoration: none;
  color: #010103;
  transition: all 0.2s;
}
.footer-content__1 li a:hover {
  color: #f4c336;
}
.footer-content__1 li:nth-child(1) {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-content__1 li:nth-child(1) span {
  color: #f4c336;
  font-size: 4rem;
}
.footer-content__1 li:nth-child(2) {
  font-size: 1.6rem;
  color: #706f7b;
  line-height: 1.7;
  margin-bottom: 3rem;
}
/* .footer-content__1 li:nth-child(3),
.footer-content__1 li:nth-child(4),
.footer-content__1 li:nth-child(5),
.footer-content__1 li:nth-child(7) {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin-bottom: 1rem;
}

.footer-content__1 li:nth-child(6) {
  font-size: 14px;
  margin-bottom: 0.5rem;
} */

.footer-content__1 li:nth-child(3) {
  display: flex;
  font-size: 18px;
  color: #646464;
  gap: 1.75rem;
}

.footer-content__1 li:nth-child(3) i {
  padding: 1rem;
  border-radius: 9999px;
  background: #efefef;
  transition: all 0.3s;
  margin-bottom: 3rem;
}

.footer-content__1 li:nth-child(3) i:hover {
  color: #ffffff;
  background: #f4c336;
}

@media (max-width: 540px) {
  .footer-content__1 li:nth-child(3) {
    justify-content: center;
  }
}

.footer-content__1 li:nth-child(4) p {
  font-weight: 500;
  font-size: 16px;
  color: #646464;
}

.footer-content__2 {
  list-style: none;
}

@media (max-width: 650px) {
  .footer-content__2 {
    text-align: center;
  }
}

.footer-content__2 span {
  font-weight: bold;
}

.footer-content__2 a {
  text-decoration: none;
  color: #010103;
  transition: all 0.2s;
}
.footer-content__2 a:hover {
  color: #f4c336;
}
.footer-content__2 li {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.footer-content__2 li:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 700;
  /* text-transform: uppercase; */
  font-family: "Poppins", sans-serif;
  cursor: auto;
}

.footer-content__2__company {
  list-style: none;
}

.footer-content__2__company li:nth-child(1) {
  font-size: 1.8rem;
  text-decoration: underline;
}
