.navbar {
  max-width: 133rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.7rem 2rem;
  position: absolute;
  top: 10;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 99999;
  margin: 0 auto;
}
.navbar__img {
  width: 10rem;
}
@media (max-width: 1000px) {
  .navbar__img {
    width: 9rem;
  }
}
.navbar__img img {
  width: 100%;
  height: 100%;
}
.navbar__links {
  display: flex;
  list-style: none;
  gap: 2.1rem;
}
.navbar__links a {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #010103;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}
.navbar__links a:hover {
  color: #f7d060;
}
@media (max-width: 1000px) {
  .navbar__links {
    display: none;
  }
}
.navbar__button {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  align-items: center;
}
@media (max-width: 1000px) {
  .navbar__button {
    display: none;
  }
}

.navbar__button__contact {
  background-color: #f4c336;
  color: #f8f8f8;
  padding: 1.5rem 3rem;
  border: 2px solid #f4c336;
  border-radius: 3px;
  transition: all 0.3s;
}
.navbar__button__contact:hover {
  background-color: transparent;
  color: #f4c336;
}
.navbar__button a {
  text-decoration: none;
}
