.product-page {
  height: 100%;
  margin-bottom: 14rem;
  width: 100%;
}

.product-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 5em;
}

@media (max-width: 850px) {
  .product-div {
    flex-direction: column;
    gap: 3rem;
    margin: 1rem;
  }
}

.product-big-name {
  font-size: 3rem;
  text-align: center;
  margin-top: 10rem;
  text-transform: uppercase;
}

.product-page__images {
  width: 45%;
  height: 100%;
}

@media (max-width: 850px) {
  .product-page__images {
    width: 100%;
  }
}

.big-img {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}

.big-img img {
  width: 90%;
  height: 100%;
  /* border: 2px solid black; */
}

/* .small-imgs {
  width: 100%;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
}

.small-imgs img {
  width: 22%;
  height: 20%;
  object-fit: cover;
  cursor: pointer;
}

.small-imgs img:hover {
  outline: 1px solid rgba(0, 0, 0, 0.3);

  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.18);
} */

/*  */

main.table {
  width: 60%;
  height: 70vh;
  background-color: #fff5;
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;
}

@media (max-width: 850px) {
  main.table {
    height: 50vh;
    width: 100%;
  }
}

@media (max-width: 450px) {
  main.table {
    height: 70vh;
    width: 100%;
  }
}

.product-page__details {
  width: 100%;
  height: 100%;
  background-color: #fffb;
  border-radius: 0.6rem;
  overflow: auto;
  overflow: overlay;
}

.product-page__details::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #d5d1de;
}

.product-page__details::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #f4c336;
}

@media (max-width: 850px) {
  .product-page__details {
    width: 100%;
  }
}
.product-page__details h1 {
  font-size: 2.4rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
}

table {
  width: 100%;
  font-size: 1.4rem;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #f4c336;
  cursor: pointer;
  text-transform: uppercase;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: 0.1s;
  transition: 0.5s ease-in-out var(--delay), background-color 0s;
  text-transform: uppercase;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: 0.2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: 0.2s ease-in-out 0.5s;
}

.product-content__details {
  margin-left: 20px;
}

.product-content__details h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-content__details table {
  width: 100%;
  border-collapse: collapse;
}

.product-content__details th {
  text-align: left;
  padding: 5px;
  background-color: #f5f5f5;
  font-weight: bold;
}

.product-content__details td {
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.product-content__details td:last-child {
  border-bottom: none;
}

.specifications {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  width: 100%;
  height: 10rem;
  margin-bottom: 10rem;
  margin-top: 5rem;
}

.spec {
  background-color: #d5d1de;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.spec-title {
  font-size: 2rem;
  font-weight: 600;
}

.title-desc {
  font-size: 1.65rem;
}

@media (max-width: 570px) {
  .specifications {
    gap: 2rem;
    flex-direction: column;
    margin-bottom: 28rem;
  }
}
