.product-section {
  background-color: #ffffff;
  padding: 10rem 0;
  color: #010103;
}

.product-content {
  display: flex;
  flex-direction: column;
}

.product-content__title {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  max-width: 70rem;
  margin-bottom: 5rem;
}

.product-content__title h4 {
  font-size: 2.2rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.product-content__title h2 {
  font-size: 4.2rem;
  margin-bottom: 1.4rem;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  width: 100%;
  height: auto;
  gap: 5rem;
  justify-items: center;
}

.pro {
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  border-radius: 1.7rem;
  height: 40rem;
  flex-direction: row;
  padding: 2rem;
  gap: 5rem;
}

@media (max-width: 1020px) {
  .pro {
    height: auto;
    flex-direction: column !important;
    gap: 3rem;
    width: fit-content;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .pro {
    width: 100%;
  }
}

.pro__img {
  width: 53rem;
  height: auto;
  border-radius: 1.7rem;
  background-color: #76767633;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

@media (max-width: 650px) {
  .pro__img {
    width: 100%;
  }
}

.pro__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pro__text {
  display: flex;
  width: 30rem;
  height: auto;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

@media (max-width: 1020px) {
  .pro__text {
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .pro__text {
    width: 100%;
  }
}

.pro__text h3 {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #010103;
  margin-bottom: 2rem;
  position: relative;
}

.pro__text p {
  font-size: 1.7rem;
  color: #374151;
  text-align: center;
  text-transform: none;
  font-weight: 500;
}

.reversed-pro {
  flex-direction: row-reverse !important;
}

@media (max-width: 1020px) {
  .reversed-pro {
    flex-direction: column !important;
  }
}

a {
  text-decoration: none;
  color: black;
}

.products-container {
  padding: 3rem 0;
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.product {
  /* outline: 2px solid rgba(0, 0, 0, 0.205); */
  /* outline-offset: -2px; */
  transition: all 0.15s ease-in;
  cursor: pointer;
}

/* .product:hover {
  outline: 2px solid rgba(0, 0, 0, 0.7);
} */

.product-header img {
  width: 100%;
}

.product-details {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  padding: 1rem;
}

@media (max-width: 430px) {
  .product-details {
    text-align: center;
    font-size: 1.7rem;
  }
}

.item-price {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1.4rem;
  color: #f4c336;
}

/* categories */

.catego-type {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -4rem;
}

.filter-btns {
  justify-content: center;
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.filter-btns button {
  padding: 0.6rem 1.6rem;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

.filter-btns button:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.title-home {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 6rem;
}

.title-home h3 {
  font-size: 2.7rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.title-home a {
  font-size: 1.6rem;
  text-decoration: none;
  color: black;
  text-align: left;
}

/* queries */

@media (max-width: 850px) {
  .products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media (max-width: 430px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}
