.top-bar {
  height: 6vh;
  background-color: #f4c336;
}

.top-bar-content {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .top-bar {
    height: 9vh;
    padding: 0.8rem 0;
  }
}

@media (max-width: 800px) {
  .top-bar-content {
    flex-direction: column;
  }
}

.top-bar ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 6vh;
}

@media (max-width: 800px) {
  .top-bar ul {
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.top-bar ul li {
  list-style: none;
  font-size: 1.2rem;
}

.top-bar ul li a {
  text-decoration: none;
  color: black;
}

.top-bar__social i {
  font-size: 1.4rem;
}

@media (max-width: 800px) {
  .top-bar__social i {
    display: none;
  }
}
